{% load staticfiles  %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/bootstrap.min.css' %}">
    {% block style %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    {% block content %}
    {% endblock %}
  	{% block script %}
  	{% endblock %}
  </body>
</html>