{% extends "base.html" %}

{% block title %}
	Detalles Estadio {{queryset.nombre}}
{% endblock %}

{% block content %}	
	<h1>Detalles</h1>
	<table  class = "table">
		<tr>
			<td>Nombre</td>
			<td>{{queryset.nombre}}</td>
		</tr>
		<tr>
			<td>Ciudad</td>
			<td>{{queryset.ciudad}}</td>
		</tr>
		<tr>
			<td>Capacidad</td>
			<td>{{queryset.capacidad}}</td>
		</tr>
	</table>
	<a href="{% url 'list_estadios' %}">Back</a>
	
{% endblock %}