{% extends "base.html" %}

{% block title %}
	Detalles Equipo {{queryset.nombre}}
{% endblock %}

{% block content %}	
	<h1>Detalles</h1>
	<table  class = "table">
		<tr>
			<td>Nombre</td>
			<td>{{queryset.nombre}}</td>
		</tr>
		<tr>
			<td>Estadio</td>
			<td>{{queryset.estadio}}</td>
		</tr>
		<tr>
			<td>Campeonatos</td>
			<td>{{queryset.campeonatos}}</td>
		</tr>
	</table>
	<a href="{% url 'list_equipos' %}">Back</a>
	
{% endblock %}