{% extends "base.html" %}

{% block title %}
	Detalles Jugador {{queryset.nombre}}
{% endblock %}

{% block content %}	
	<h1>Detalles</h1>
	<table  class = "table">
		<tr>
			<td>Nombre</td>
			<td>{{queryset.nombre}}</td>
		</tr>
		<tr>
			<td>Apellido</td>
			<td>{{queryset.apellido}}</td>
		</tr>
		<tr>
			<td>Edad</td>
			<td>{{queryset.edad}}</td>
		</tr>

		<tr>
			<td>Peso</td>
			<td>{{queryset.peso}}</td>
		</tr>
		<tr>
			<td>Altura</td>
			<td>{{queryset.altura}}</td>
		</tr>

		<tr>
			<td>Numero</td>
			<td>{{queryset.numero}}</td>
		</tr>
		<tr>
			<td>Equipo</td>
			<td>{{queryset.equipo}}</td>
		</tr>
		<tr>
			<td>Posicion</td>
			<td>{{queryset.posicion}}</td>
		</tr>
		<tr>
			<td>Contratado</td>
			<td>{{queryset.contratado}}</td>
		</tr>
		<tr>
			<td>Intercambiado</td>
			<td>{{queryset.intercambiado}}</td>
		</tr>

	</table>
	<a href="{% url 'list_jugadores' %}">Back</a>
	
{% endblock %}