{% extends 'base.html' %}


{%block title %}
	Index
{% endblock %}


{%block content %}
	<h1>Index</h1>
<table class  = "table">
	<tr>
		<td>	<a href="{% url 'list_jugadores' %}">Lista de Jugadores</a></td>		
	</tr>

	<tr>
		<td>	<a href="{% url 'list_equipos' %}">Lista de Equipos</a></td>		
	</tr>

	<tr>
		<td>	<a href="{% url 'list_estadios' %}">Lista de Estadios</a></td>		
	</tr>
		<tr>
		<td>	<a href="{% url 'list_juintercambiados' %}">Lista de Jugadores Intercambiados</a></td>		
	</tr>
</table>
	<h2>Lista de jugadores por Posciones</h2>
<table class  = "table">
	<tr>
		<td>	<a href="{% url 'list_juxposicion' 'Quarterback' %}">Quarterback</a></td>		
	</tr>

	<tr>
		<td>	<a href="{% url 'list_juxposicion' 'Corredor' %}">Corredor</a></td>		
	</tr>

	<tr>
		<td>	<a href="{% url 'list_juxposicion' 'Defensa' %}">Defensa</a></td>		
	</tr>
		<tr>
		<td>	<a href="{% url 'list_juxposicion' 'Receptor' %}">Receptor</a></td>		
	</tr>

{% endblock %}
