{% extends 'base.html' %}

{% block title%} Equipos {% endblock %}


{% block content %}	
	<h1>Lista Equipos</h1>
	<table  class = "table">
		<th>Nombre</th>
		<th>Detalles</th>
		<th>Jugadores</th>
		<th>Jugadores Despedidos</th>
		
		{% for eq in queryset %}
		<tr>
			<td>{{eq.nombre}}</td>
			<td><a href="{% url 'detail_equipo' eq.id %}">Detalles</a></td>
			<td><a href="{% url 'list_juxequipo' eq.id %}">Jugadores</a></td>
			<td><a href="{% url 'list_judespedidos' eq.id %}">Despedidos</a></td>
		</tr>
		{% endfor %}
	</table>
	<a href="{% url 'index' %}">Regresar Index</a>
{% endblock %}
