{% extends 'base.html' %}

{% block title%} Estadios {% endblock %}


{% block content %}	
	<h1>Lista Estadios</h1>
	<table  class = "table">
		<th>Nombre</th>
		<th>Ciudad</th>
		<th>Capacidad</th>
		<th></th>
		{% for e in queryset %}
		<tr>
			<td>{{e.nombre}}</td>
			<td>{{e.ciudad}}</td>
			<td>{{e.capacidad}}</td>
			<td><a href="{% url 'detail_estadio' e.id %}">Detalles</a></td>
		</tr>
		{% endfor %}
	</table>
	<a href="{% url 'index' %}">Regresar Index</a>
{% endblock %}
