{% extends 'base.html' %}

{% block title%} Jugadores {% endblock %}


{% block content %}	
	<h1>Lista Jugadores de Equipo Intercambidos</h1>
	<table  class = "table">
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Edad</th>
		<th>Actual</th>
		<th>Anterior</th>
		<th></th>
		{% for j in queryset %}
		<tr>
			<td>{{j.nombre}}</td>
			<td>{{j.apellido}}</td>
			<td>{{j.edad}}</td>
			<td>{{j.equipo}}</td>
			<td>{{j.equipoAnterior}}</td>

			<td><a href="{% url 'detail_jugador' j.id %}">Detalles</a></td>
		</tr>
		{% endfor %}
	</table>
	<a href="{% url 'index' %}">Regresar Index</a>
{% endblock %}